@font-face{
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.ttf");
    src: url("../fonts/Roboto-Regular.ttf") format(ttf);
    font-family: "Euphoria Script";
    src: url("../fonts/EuphoriaScript-Regular.ttf") format(ttf);
    font-family: Barlow;
    src: url("../fonts/Barlow-Regular.ttf") format(ttf);
}